body {
    overflow: scroll;
    color: black;
}

.container-div {
    display: flex;
    margin: auto;
    height: 1200px;
    width: 900px;
    background-color: rgba(243, 234, 234, 0.915);
    border-bottom: 1px solid white;
    border-radius: 50px;
}

.spot-div {
    font-family: 'good_timesregular';
    display: grid;
  grid-template-columns: 100px 75px 230px 90px 155px 155px 100px;
  grid-template-rows: 20px 40px 10px 30px 140px 160px 30px 230px 500px;
  grid-template-areas:
    ". . . . . . ."
    ". name name . . . ."
    ". . . . . . ."
    ". rating planet . . system ."
    ". firstPhoto firstPhoto . secondPhoto thirdPhoto ."
    ". firstPhoto firstPhoto . fourthPhoto fifthPhoto ."
    ". arrangements arrangements . . price ."
    ". description description description . book book"
    ". reviews reviews reviews reviews reviews .";
    
}

.name {
    grid-area: name;
    border-bottom: 2px solid white;
    font-weight: 900;
    font-size: 25px;
}

.rating {
    grid-area: rating;
}

.planet {
    grid-area: planet;
}

.system {
    grid-area: system;
}

.photos {
    grid-area: photos;
    display: flex;
    flex-direction: row;
}

.firstPhoto {
    height: 275px;
    width: 390px;
    grid-area: firstPhoto;
  border-radius: 10px;
}

.secondPhoto,
.thirdPhoto,
.fourthPhoto,
.fifthPhoto {
    height: 135px;
    width: 150px;
  border-radius: 10px;
}

.secondPhoto {
    grid-area: secondPhoto;
}

.thirdPhoto {
    grid-area: thirdPhoto;
}

.fourthPhoto {
    grid-area: fourthPhoto;
}

.fifthPhoto {
    grid-area: fifthPhoto;
}

.arrangements {
    grid-area: arrangements;
}

.host {
    grid-area: host;
}

.description {
    grid-area: description;
    font-size: 14px;
}

.reviews {
    grid-area: reviews;
}

.price {
    grid-area: price;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.book {
    padding-top: 10px;
    grid-area: book;
}

.submit-button {
    padding-top: 5px;
}