body {
    overflow: auto;
    color: black;
}



.container-div {
    display: flex   ;
    margin: auto;
    height: 1500px;
    width: 900px;
    background-color: rgba(243, 234, 234, 0.915);
    border-bottom: 1px solid white;
    border-radius: 50px;
    margin-top: 16px;
}
.spot-div {
    font-family: 'good_timesregular';
    display: grid;
  grid-template-columns: 100px 75px 230px 90px 155px 155px 100px;
  grid-template-rows: 20px 40px 10px 30px 140px 155px 30px 230px 500px;
  grid-template-areas:
    ". . . . . . ."
    ". name name name . edit ."
    ". . . . . . ."
    ". rating planet planet planet planet planet"
    ". firstPhoto firstPhoto . secondPhoto thirdPhoto ."
    ". firstPhoto firstPhoto . fourthPhoto fifthPhoto ."
    ". arrangements arrangements arrangements . price ."
    ". description description description . book book"
    ". reviews reviews reviews reviews reviews .";
    
}

.name {
    grid-area: name;
    border-bottom: 2px solid white;
    font-weight: 900;
    font-size: 25px;
}

.rating {
    grid-area: rating;
}

.planet {
    grid-area: planet;
}

.system {
    grid-area: system;
}

.photos {
    grid-area: photos;
    display: flex;
    flex-direction: row;
}

.firstPhoto {
    height: 275px;
    width: 390px;
    grid-area: firstPhoto;
  border-radius: 10px;
}

.secondPhoto,
.thirdPhoto,
.fourthPhoto,
.fifthPhoto {
    height: 135px;
    width: 150px;
  border-radius: 10px;
}

.secondPhoto {
    grid-area: secondPhoto;
}

.thirdPhoto {
    grid-area: thirdPhoto;
}

.fourthPhoto {
    grid-area: fourthPhoto;
}

.fifthPhoto {
    grid-area: fifthPhoto;
}

.arrangements {
    grid-area: arrangements;
    border-bottom: 1px solid white;
}

.host {
    grid-area: host;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    grid-area: description;
    font-size: 15px;
    font-weight: 200;
    padding-top: 10px;
}

.reviews {
    grid-area: reviews;
}

.price {
    grid-area: price;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.book {
    padding-top: 10px;
    grid-area: book;
}

.reviews-list {
    padding-bottom: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.review {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    border-bottom: 1px solid white;
}

.edit-spot {
    grid-area: edit;
    
    display: flex;
    flex-direction: column;   
     justify-content: flex-end;
     align-items: flex-end;
}

.edit-spot button {
    grid-area: edit;
    font-size: 14px;
}

.delete-spot {
    grid-area: edit;
    font-size: 14px;
}

.delete-spot button {
    font-size: 14px;
    width: 50px;
}

#deleteReview {
    margin-top: 10px;
    font-size: 14px;
}

.map {
    height: 90%;
}