
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  height: 200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color:white;
}

.login-form {
  display: flex;
  padding: 10px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-label {
  padding: 10px;

}

.login-input {
  margin-left: 10px;
}

.login-input-name {
  position: relative;
  margin-left: 10px;
}
.login-label-name {
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
}