.footer-container {
  background-color: rgba(255, 255, 255, 0.935);
  border-top: 1px solid rgb(211, 211, 211);
  box-shadow: 0px 0px 10px grey;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.footer-container .footer-description {
  font-size: 16px;
  text-align: center;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.footer-icons img {
  height: 3em;
  text-align: center;
  padding: 2em;
  align-self: center;
}