.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". pic . . ."
    ". name . . ."
    ". email . . ."
    ". bookings . . ."
    ". . . . .";
  margin: 6rem 8em;
  background-color: rgba(243, 234, 234, 0.915);
  border-radius: 50px;
  width: 80%;
  height: 1000px;
}

.booking {
    border-bottom: 2px solid white;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 50%;
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.bookings {
    grid-area: bookings;
}