/* TODO Add site wide styles */
body {
  font-family: 'Roboto', sans-serif;
    background-image: url("././components/SeekPage/hubble-telescope-nasa-10.jpg");
    color: white;
    font-weight: 400;
}

/* a:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
   border-radius: 20px;
} */
