/* TODO Add site wide styles */
body {
  font-family: 'Roboto', sans-serif;
    background-image: url("././components/SeekPage/hubble-telescope-nasa-10.jpg");
    color: white;
    font-weight: 400;
}

