@font-face {
    font-family: 'good_timesregular';
    src: url('./webfontkit-20210426-173806/good_times_rg-webfont.woff2') format('woff2'),
         url('./webfontkit-20210426-173806/good_times_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a, button {    
    font-family: 'good_timesregular';
    text-decoration: none !important;
    font-size: 20px;
    color: #0060B6;
    border: none;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 40px;
}

ul.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.935);
    padding: 12px;
    border: 5px solid black;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.auth {
    display: flex;
    justify-content: space-between;
}

