@font-face {
    font-family: 'good_timesregular';
    src: url('./webfontkit-20210426-173806/good_times_rg-webfont.woff2') format('woff2'),
         url('./webfontkit-20210426-173806/good_times_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a, button {    
    font-family: 'good_timesregular';
    text-decoration: none !important;
    font-size: 22px;
    color: white;
    background-color: #fa9a13;
    cursor: pointer;
    border-radius: 20px;
}

a:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
   border-radius: 20px;
}

ul.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.935);
    padding: 12px;
    border: 5px solid black;
}

.navbar li {
    list-style-type: none;
}

.auth {
    justify-content: flex-end;
    padding-right: 5px;
    padding-left: 45px;
}

.home {
    justify-content: flex-start;
    padding-left: 5px;
}

.seek {
    justify-content: center;
    padding-right: 80px;
    
}

.seek button {
    color: white;
    background-color: #fa9a13;
    border-radius: 20px;   
}

a:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
   border-radius: 20px;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
   border-radius: 20px;
}