.profile-dropdown {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}


a:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #000000;
     -moz-box-shadow: inset 0px 0px 10px #000000;
          box-shadow: inset 0px 0px 10px #040404;
   outline: none;
   border-radius: 20px;
}